@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.main-container{
    background: whitesmoke;
}
.wrapper{
    display: flex;
}

.title{
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.subtitle{
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(transparent 70%, #98D1AF 70%);
}

.admin-title{
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(transparent 70%, crimson 40%);
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}

.img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.nav-btn:hover {
    display: inline-block;
    background: linear-gradient(transparent 90%, white 50%);
}

.mytable{
    table-layout:fixed;
}

.admin-icon{
    border-radius: 4px;
    background: crimson;
    opacity: 0.9;
    font-weight: bold;
    color: white !important;
    width: 9rem;
    text-align: center;
}

.color1{
    background: #047230;
}
.color2{
    background: #43B26F;
}
.color3{
    background: #98D1AF;
}
.color4{
    background: #AABFB2;
}

.dropzone {
    border: 2px dashed #b4bcc2;
    width: 100%;
}
.show-table{
    width: 10%;
    text-align: right;
}
.small-calendar{
    zoom: 50%;
}
