/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * = require simple_calendar
 * = require dropzone/basic
 * = require dropzone/dropzone
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.main-bg-color{
    background: whitesmoke;
}
.wrapper{
    display: flex;
}

.title{
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.admin-title{
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(transparent 70%, crimson 40%);
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}

.img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.mytable{
    table-layout:fixed;
}

.admin-icon{
    border-radius: 4px;
    background: crimson;
    opacity: 0.9;
    font-weight: bold;
    color: white !important;
    width: 9rem;
    text-align: center;
}

.color1{
    background: #99FFCC;
}
.color2{
    background: #CCFFCC;
}
.color3{
    background: #C2EEFF;
}
.color4{
    background: #BAD3FF;
}

.dropzone {
    border: 2px dashed #b4bcc2;
    width: 100%;
}