<p>Hi <%= @resource.email %>!</p>

<p>https://nagata-portfolio.herokuapp.comです。</p>

<p>下記のリンクをクリックしてパスワードをリセットしてください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合、本メールは無視してください。</p>
